
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div><a href="https://www.javaguides.net" class="navbar-brand"></a></div>
      <ul class="navbar-nav navbar-collapse justify-content-end">
          <!-- <li>
              <a *ngIf="!isLoggedIn" class="nav-link" href="/login">Login</a>
          </li> -->
          <li>
              <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()> <p>            &emsp;   &emsp; &emsp; &emsp;   &emsp;                                            </p> Logout          </a>
          </li>
      </ul>
  </nav>
</header>